@charset "UTF-8";

/*** Custom fonts ***/
@import url('./blubook/fonts.css');

/*** Color setting ***/
:root {
    --side-bar-bg-color: #183055;
    --active-file-bg-color: #2f4566;
    --active-file-text-color: #ffffff;
    --active-file-border-color: #757575;
    --active-search-item-bg-color: #23242b;
    --item-hover-bg-color: #ececec;
    --item-hover-text-color: #f5f7f9;
    --control-text-color: #ddd;
    --window-border: 1px solid #183055;
    --code-cursor: #f0f0f0;
}


/****** #write basic ******/
#write {
    position: static;
    width: 90%;
    max-width: 700px;
    line-height: 1.6;
    transform: none;
    height: auto;
}

/****** #write h1-h6 ******/
#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write p, #write pre {
    width: auto;
  }
  
#write h1::before, #write h2::before, #write h3::before, #write h4::before, #write h5::before, #write h6::before {
  position: absolute;
  right: calc(100% + 10px);
  bottom: 0;
  color: #b4b4b4;
  font-size: 1rem;
  font-weight: bold;
  font-variant: 'small-caps';
  border: 0;
  border-radius: 0;
  left: auto;
  float: none;
  padding: 0;
  vertical-align: baseline;
  line-height: 2;
}

#write h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}

#write h1::before {
  content: 'H1';
  bottom: 1rem;
}

#write h2 {
  font-size: 28px;
  font-weight: 800;
  font-style: normal;
  line-height: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}

#write h2::before {
  content: 'H2';
  bottom: .85rem;
}

#write h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

#write h3::before {
  content: 'H3';
  top: .75rem;
}

#write h4 {
  font-size: 20px;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

#write h4::before {
  content: 'H4';
  bottom: .35rem;
}

#write h5, #write h6 {
  font-size: 16px;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

#write h5::before, #write h6::before {
  bottom: .1rem;
}

#write h5::before {
  content: 'H5';
}

#write h6::before {
  content: 'H6';
}

/****** Global Style ******/
body {
  margin: 0;
  font-family: "Glow Sans SC", -apple-system, sans-serif;
  font-weight: 500;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%
}

html, 
body {
  color: #242A31;
  /* width: 100%; */
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #ffffff;
  box-sizing: border-box;
  line-height: 1em;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

hr {
  border-color: #e6ecf1;
  height: 2px;
  border-top: 2px solid #e6ecf1;
}

img {
  max-width: 80%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/****** ul ol Style ******/

ul>li>ul>li {
  list-style-type: circle;
}

ul>li>ul>li>ul>li {
  list-style-type: square;
}

ol,
ul {
  padding-left: 2em;
  line-height: 2;
}

ol>li {
  list-style-type: decimal
}

ol>li>ol>li {
  list-style-type: lower-alpha
}

ol>li>ol>li>ol>li {
  list-style-type: lower-roman
}

/****** Table Style ******/

table {
  padding: 0;
  word-break: initial;
}

table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n),
thead {
  background-color: #f5f7f9;
}
table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}


/****** YAML Style ******/
pre.md-meta-block {
  font-size: .75rem !important;
  color: #5d5d5d;
  min-height: .8rem;
  white-space: pre-wrap;
  background: #f5f7f9;
  display: block;
  overflow-x: hidden;
  padding: 1rem;
  border-radius: 8px;
}



/****** Global Text ******/
p {
  font-size: 16px;
  font-family: "Glow Sans SC", -apple-system, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-style: normal;
  color: rgb(59, 69, 78);
}

a {
  /* color: rgb(164, 78, 237); */
  color: rgb(56, 132, 254);
  font-weight: 500;
  text-decoration: none;
  text-decoration-style: none;
  cursor: pointer;
  padding: 0 3px 0 3px;
}

#write a:hover {
  color: rgb(56, 132, 254);
  text-decoration: underline;
  text-decoration-style: solid;
}

strong {
  font-weight: 700;
}

mark {
  background: #87CEFA;
  padding: 0 2px 0 2px;
  margin: 0 2px 0 2px;
}

h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 800;
  font-style: normal;
  line-height: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}

h3 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

h5,  h6 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}


/****** #write Code Fences ******/
#write .md-fences {
    -webkit-font-smoothing: initial;
    margin: 1rem 0 1rem 0 !important;
    line-height: 1.43rem;
    border-radius: 3px;
    font-size: 0.95rem;
    word-wrap: normal;
}


#write .CodeMirror-wrap .CodeMirror-code pre {
    padding-left: 12px;
    line-height: 1.55rem;
}
  
#write .CodeMirror-cursors .CodeMirror-cursor {
    border-left: 2px solid var(--code-cursor);
}
  
#write code,
  tt {
    margin: 0 2px;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 0.92rem;
    background: #f5f7f9;
    display: inline;
    vertical-align: bottom;
    line-height: 1.8;
}
  
#write .md-footnote {
    color: var(--main-5);
    background-color: var(--main-1);
}

.cm-s-inner.CodeMirror, .cm-s-inner .CodeMirror-gutters {
  padding: 0.75rem 0.15rem 0.75rem 0.15rem;
  background-color: #183055 !important;
  color: #f8f8f2 !important;
  border: none;
  border-radius: 6px;
}


.code-tooltip {
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
  border-top: 1px solid #eef2f2;
  background: #183055;
  border-radius: 6px;
}

.md-fences {
  font-size: .9rem;
  position: relative!important;
  display: block;
  page-break-inside: avoid;
  text-align: left;
  overflow: visible;
  white-space: pre;
  background: inherit;
}

.md-fences {
  background-color: #f8f8f8;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 8px;
  padding-bottom: 6px;
}

.md-fences, tt {
  border-radius: 3px;
  color: #f0f0f0;
  padding: 0;
  font-size: 0.9em;
}

/****** Sidebar ******/
#typora-sidebar * {
  color: #f0f0f0;
}

#typora-sidebar .file-tree-node.file-library-file-node.active .file-node-background {
  border-left: 5px solid #3884ff;
  height: 2.2rem;
}

#sidebar-files-menu {
  border: 1px solid rgba(0, 2, 3, 0.7);
}

.file-list-item {
  border-bottom: var(--window-border);
}

.file-list-item {
  overflow: hidden;
  padding: 12px;
  border-bottom: 1px solid #eee;
  border-bottom: var(--window-border);
  cursor: pointer;
  padding-right: 8px;
  padding-top: 12px;
  padding-left: 24px;
  transition: top .5s;
  -webkit-transition: top .5s;
}

.file-list-item.active {
  background: #2f4566;
  /* background: var(--active-file-bg-color); */
  color: var(--active-file-text-color);
  border-radius: 12px;
}

.file-list-item:not(.active) {
  opacity: .9;
}

.file-node-content {
  padding-top: 8px;
  margin: 5px 0 5px 0;
  cursor: default;
  color: var(--control-text-color);
  white-space: nowrap;
  height: 2.2rem;
}

.ty-on-drag-enter {
  background-color: #2f4566;
  color: var(--item-hover-text-color);
}

.file-node-content:active {
  border-radius: 0px!important;
  background: #2f4566;
}

.active .file-node-content {
  font-weight: bold;
}

.file-node-content:hover {
  cursor: pointer;
  border-radius: 0px!important;
}

.file-node-icon, .file-node-open-state {
  display: block;
  float: left;
  line-height: 15px;
  min-height: 15px;
}

.file-node-icon {
  margin-right: 6px;
}

.sidebar-footer {
background: var(--side-bar-bg-color);
border-top: 1px #555 solid;
}

.html-for-mac #file-library-search-input {
border: 0;
border-bottom: 1px solid #ccc;
line-height: 16px;
margin: 5px 16px 0px 0;
width: 0;
/* -webkit-flex: 1; */
flex: 1;
background: 0 0;
color: #bbc0ca!important;
/* transform: translateY(-3px); */
/* overflow: auto; */
padding-top: 6px;
}

#typora-sidebar #ty-sidebar-footer .sidebar-footer-item:hover {
background: #021d43;
}

#typora-sidebar #outline-content .outline-item:hover {
background: #202020;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .show + .menuitem-group-label.show {
border-color: #202020;
}

#typora-sidebar #ty-sidebar-footer {
border-top: 1px solid #19191c;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu li > a:hover {
background: #021d43;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn.active, #typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn:hover {
color: #3884FF;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn.active {
background: #001129;
}

#typora-sidebar .file-list-item.file-library-node:not(.active):hover {
  background: #243959;
  border-radius: 12px;
}

#typora-sidebar .file-tree-node.file-library-file-node:not(.active):hover .file-node-background {
  background: #243959;
  border-radius: 12px;
  height: 2.2rem;
}

/****** Quote style ******/
blockquote {
    position: relative;
  /*  margin: 1rem 1 1rem 2rem; */
    padding: 1rem;
    color: #827676;
    background-color: #f5f7f9;
    border-radius: 6px;
    line-height: 1;
}
  
blockquote::before {
    content: '';
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 100%;
    width: .30rem;
    background: #3884ff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/****** task list style ******/
.task-list{
	padding-left: 0;
}

.md-task-list-item > input{
	top: -0.2rem;
	margin-left: -1.6em;
	margin-top: calc(1rem + 1px);
    -webkit-appearance: initial;
}

.md-task-list-item > input:before{
	border: 1px solid#0185ff;
	border-radius: 1rem;
	width: 1rem;
	height: 1rem;
	background: #fff;
	content: ' ';
	transition: background-color 200ms ease-in-out;
	display: block;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before{
	background: #0185ff;
	border-width: 1px;
	transition: background-color 200ms ease-in-out;
}

.md-task-list-item > input:checked:after,
.md-task-list-item > input[checked]:after {
	opacity: 1;
}

.md-task-list-item > input:after {
	opacity: 1;
	-webkit-transition: opacity 0.05s ease-in-out;
	-moz-transition: opacity 0.05s ease-in-out;
	transition: opacity 0.05s ease-in-out;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: 0.25rem;
	left: 0.19rem;
	width: 0.6rem;
	height: 0.375rem;
	border: 2px solid #fff;
	border-top: 0;
	border-right: 0;
	content: ' ';
	opacity: 0;
}



/****** Code style ******/
code {
    font-size: .9em; 
  /*   color: #333333; /*  #537AA2;  
      border: 1px solid #d0d0d0;  */
    font-family: 'Cascadia Code', Consolas, 'Noto Sans SC','Courier New', monospace;
    padding: .2em .2em;
    border-radius: 3px;
    background: #f5f7f9 !important;
    display: inline;
    vertical-align: bottom;
    line-height: 1.8;
}
  
code,
pre{
    font-size: 90% !important;
    font-weight: normal;
    font-family: 'Cascadia Code', Consolas, 'Noto Sans SC','Courier New', monospace;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial
}

/****** Fix ******/
.md-tab {
  display: inline-block;
  white-space: pre;
  font-family: initial;
}

div.md-mathjax-preview.mathjax-candidate.mathjax-candidate-show {
  background-color: white !important;
  -webkit-user-modify: read-only;
}

.mathjax-candidate {
  text-align: center;
  padding-top: inherit;
  overflow-x: auto;
  padding: 10px 0;
  background-color: white;
}

input {
  font-weight: bold;
  background-color: inherit;
  background-color: var(--bg-color);
  color: var(--text-color)!important;
  transform: translateY(-8px);
}

.task-list{
	padding-left: 0;
}

.md-task-list-item > input{
	top: -0.2rem;
	margin-left: -1.6em;
	margin-top: calc(1rem + 1px);
}

/****** Code highlight ******/
.cm-s-inner .CodeMirror-guttermarker, .cm-s-inner .CodeMirror-guttermarker-subtle, .cm-s-inner .CodeMirror-linenumber { color: #596774; }
.cm-s-inner .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.cm-s-inner div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
.cm-s-inner.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line > span::selection, .cm-s-inner .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-inner .CodeMirror-line::-moz-selection, .cm-s-inner .CodeMirror-line > span::-moz-selection, .cm-s-inner .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

.cm-s-inner .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
.cm-s-inner .cm-keyword { color: rgba(199, 146, 234, 1); }
.cm-s-inner .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-inner .cm-variable-2 { color: #80CBC4; }
.cm-s-inner .cm-variable-3 { color: #82B1FF; }
.cm-s-inner .cm-builtin { color: #DECB6B; }
.cm-s-inner .cm-atom { color: #F77669; }
.cm-s-inner .cm-number { color: #F77669; }
.cm-s-inner .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-inner .cm-string { color: #C3E88D; }
.cm-s-inner .cm-string-2 { color: #80CBC4; }
.cm-s-inner .cm-comment { color: #969fa3; }
.cm-s-inner .cm-variable { color: #82B1FF; }
.cm-s-inner .cm-tag { color: #80CBC4; }
.cm-s-inner .cm-meta { color: #80CBC4; }
.cm-s-inner .cm-attribute { color: #FFCB6B; }
.cm-s-inner .cm-property { color: #80CBAE; }
.cm-s-inner .cm-qualifier { color: #DECB6B; }
.cm-s-inner .cm-variable-3 { color: #DECB6B; }
.cm-s-inner .cm-tag { color: rgba(255, 83, 112, 1); }
.cm-s-inner .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #EC5F67;
}
.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.md-fences .code-tooltip {
  background-color: #263238;
}

